/*chamem o arquivo de .env para configurar a ligação à base de dados

DB_NAME=stylemarket
DB_USER=postgres
DB_PASSWORD=  // metam a vossa pass do pgadmin***********
DB_HOST=localhost
DB_PORT=5432
PORT=3000

não enviem depois para o git o vosso .env com a vossa pass
*/