# Base de dados PostgreSQL
DB_NAME=stylemarket
DB_USER=postgres
DB_PASSWORD=coloca_a_tua_password
DB_HOST=localhost
DB_PORT=5432

# false em ambiente local; true quando usares o Neon
DB_SSL=false

# Backend
PORT=3000
CRIAR_DADOS_INICIAIS=true